body
{
	background-color: lightblue;
	font-family: verdana;
}
#fm
{
  background-color:lightgreen;
  position:absolute;
	top:30%;
  left:40%;
  border:2px solid black;
  border-radius: 5px;
}
input[type=text]
{
  margin:auto;
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
}
input[type=submit]
{
  margin:auto;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
